@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* cursor: none; */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.transparent-text {
  color: #000;
  color: rgba(0, 0, 0, 0);
}

.fade-appear {
  animation: fade-in 300ms;
}

.cursor {
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
